In [125]:
#filter warnings
import warnings
warnings.filterwarnings('ignore')
#importing libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.metrics import r2_score,mean_absolute_error
from sklearn.impute import KNNImputer
from sklearn.ensemble import VotingRegressor
from sklearn.compose import make_column_transformer
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor,BaggingRegressor
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder,OneHotEncoder,RobustScaler,StandardScaler,MinMaxScaler,MultiLabelBinarizer

# Data Understanting

In [135]:
df = pd.read_csv('CAR DETAILS FROM CAR DEKHO.csv')
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [136]:
df.shape

(4340, 8)

In [137]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4340 entries, 0 to 4339
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           4340 non-null   object
 1   year           4340 non-null   int64
 2   selling_price  4340 non-null   int64
 3   km_driven      4340 non-null   int64
 4   fuel           4340 non-null   object
 5   seller_type    4340 non-null   object
 6   transmission   4340 non-null   object
 7   owner          4340 non-null   object
dtypes: int64(3), object(5)
memory usage: 271.4+ KB

In [138]:
df.isnull().any().sum()

0

In [139]:
df.duplicated().sum()

763

In [140]:
df.drop_duplicates(keep='first',inplace=True)
df.duplicated().sum()

0

In [141]:
df.columns

Index(['name', 'year', 'selling_price', 'km_driven', 'fuel', 'seller_type',
       'transmission', 'owner'],
      dtype='object')

In [142]:
df['name'].nunique()

1491

In [143]:
df.corr()['selling_price']

year             0.424260
selling_price    1.000000
km_driven       -0.187359
Name: selling_price, dtype: float64

In [144]:
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [145]:
#value counts for the object dtypes
for col in df.columns:
    if df[col].dtype == 'object':
        print(df[col].value_counts())

Maruti Swift Dzire VDI               54
Maruti Alto 800 LXI                  48
Maruti Alto LXi                      42
Maruti Alto LX                       30
Maruti Swift VDI BSIV                28
                                     ..
Toyota Innova 2.5 E 8 STR             1
Nissan Micra XL CVT                   1
Mahindra Scorpio VLX AT 2WD BSIII     1
Toyota Corolla AE                     1
Hyundai i20 Magna 1.4 CRDi            1
Name: name, Length: 1491, dtype: int64
Diesel      1800
Petrol      1717
CNG           37
LPG           22
Electric       1
Name: fuel, dtype: int64
Individual          2832
Dealer               712
Trustmark Dealer      33
Name: seller_type, dtype: int64
Manual       3265
Automatic     312
Name: transmission, dtype: int64
First Owner             2218
Second Owner             978
Third Owner              289
Fourth & Above Owner      75
Test Drive Car            17
Name: owner, dtype: int64

In [154]:
#encoding
encoded_df = df.drop(labels=['name','year','selling_price','km_driven'],axis=1)
#encoding with multilabel binarizer
labels = []
mlb = MultiLabelBinarizer()
transformed = mlb.fit(encoded_df)
one_hot_labels = transformed.fit(encoded_df)
pd.DataFrame(one_hot_labels)

ValueError: DataFrame constructor not properly called!

In [153]:
one_hot_labels

MultiLabelBinarizer()

In [131]:
pd.DataFrame(labels)

      0     1
0   cat   dog
1   dog  bird
2   cat  bird
3  bird  None